/*
    Website
    apfrog means armor piercing frog
*/


.sidenav {
    height: 100%; /*Sets the div to full screen*/
    width: 0; /*Sets the width to 0*/
    position: fixed; /*Always stays on the same place*/
    z-index: 1; /*Sets the elements to stay on top*/
    top: 0; /*removes margin from the top*/
    left: 0; /*and the bottom*/

    background-color: black;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.3s;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
}